@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background-color: rgb(201, 201, 201);
  -webkit-font-smoothing: antialiased;
  min-width: 450px;
}

input, button, textarea {
  font: 400 14px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link:hover {
  opacity: 0.8;
}